# cardano-db-sync.service
#
# See https://github.com/IntersectMBO/cardano-db-sync/blob/master/doc/installing.md for
# instructions
[Unit]
Description=Cardano DB Sync
Documentation=https://github.com/IntersectMBO/cardano-db-sync/tree/master/doc
After=network-online.target postgresql.service cardano-node@%i.service
Wants=network-online.target
Requires=postgresql.service cardano-node@%i.service

[Service]
User=cardano-node
Group=cardano-node
StateDirectory=cardano-db-sync/%i
ConfigurationDirectory=cardano/%i
WorkingDirectory=%S/cardano-db-sync/%i
Environment=PGPASSFILE=/etc/cardano/%i/pgpass
ExecStart=cardano-db-sync \
    --config "${CONFIGURATION_DIRECTORY}/db-sync-config.json" \
    --state-dir "${STATE_DIRECTORY}/cardano-db-sync" \
    --socket-path /run/cardano/%i/node.socket \
    --schema-dir /usr/share/cardano-db-sync/schema
TimeoutStopSec=2h

[Install]
WantedBy=multi-user.target
