# cardanos-node.service
#
# See https://developers.cardano.org/docs/get-started/infrastructure/node/installing-cardano-node
# for instructions
[Unit]
Description=Cardano Node
Documentation=https://developers.cardano.org/docs/get-started/infrastructure/node/installing-cardano-node
After=network-online.target
Wants=network-online.target

[Service]
User=cardano-node
Group=cardano-node
ExecStart=/usr/bin/cardano-node run \
  --config        /etc/cardano/config.json \
  --topology      /etc/cardano/topology.json \
  --database-path /var/lib/cardano/db \
  --socket-path   /run/cardano/node.socket \
  --host-addr     0.0.0.0 \
  --port          3001
Restart=always
RestartSec=5
RuntimeDirectory=cardano
StateDirectory=cardano
WorkingDirectory=/var/lib/cardano

[Install]
WantedBy=multi-user.target
