# Working directory for install.sh
tmp/

# Arch Linux package
archlinux/cardano-node.service
archlinux/cardano-node.sysusers
archlinux/cardano-node.tmpfiles
archlinux/*.log
archlinux/*.pkg.tar.zst
archlinux/pkg/
archlinux/src/

# Release tarballs
cardano-node-*.tar.gz
