Source: cardano-node
Section: net
Maintainer: Sean Gillespie <sean@mistersg.net>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.4.1
Homepage: https://github.com/IntersectMBO/cardano-node

Package: cardano-node
Architecture: amd64
Depends: 
  ${misc:Depends},
  cardano-conf,
Description: Core component used to participate in a Cardano blockschain
 This package provides a Systemd template service with instances for each 
 network. See README.Debian for setup instructions.
