#!/usr/bin/make -f

%:
	dh $@ --without autoreconf

# Override default clean and build targets. Otherwise, it would detect the top-level 
# Makefile and run its clean and build, which would again call this and recurse indefinitely
override_dh_auto_build:
override_dh_auto_clean:
