pkgbase = cardano-node-bin
	pkgdesc = The core component that is used to participate in a Cardano decentralised blockchain.
	pkgver = 11.0.1
	pkgrel = 1
	url = https://github.com/input-output-hk/cardano-node
	arch = x86_64
	license = Apache-2.0
	depends = cardano-conf
	provides = cardano-node
	conflicts = cardano-node
	conflicts = cardano-node-git
	options = !debug
	options = !strip
	source = cardano-node.service
	source = cardano-node.sysusers
	source = https://github.com/IntersectMBO/cardano-node/releases/download/11.0.1/cardano-node-11.0.1-linux-amd64.tar.gz
	sha256sums = 5b50c626a3bc154f80b6b405d10a2b26de614f482db712868d65cc36a6b76616
	sha256sums = 245d223f503346bb96e3541ce06795aabbc94e01f36925b449e113be382f6fbe
	sha256sums = 40e88a543564251338c4888ef79fde51d2306c18b48ac308c9eab3220e3a13f0

pkgname = cardano-node-bin
