pkgbase = cardano-db-sync-bin
	pkgdesc = A Cardano chain indexer that stores block and transactions in a PostgreSQL database
	pkgver = 13.7.2.1
	pkgrel = 1
	url = https://github.com/IntersectMBO/cardano-db-sync
	arch = x86_64
	license = Apache-2.0
	depends = cardano-conf
	depends = cardano-node-bin
	provides = cardano-db-sync
	conflicts = cardano-db-sync
	options = !debug
	options = !strip
	source = cardano-db-sync@.service
	source = cardano-db-sync.tmpfiles
	source = https://github.com/IntersectMBO/cardano-db-sync/releases/download/13.7.2.1/cardano-db-sync-13.7.2.1-linux.tar.gz
	sha256sums = fde385c0042261501a54e3d422e837c0568140bfc501fa0c01ff34aa87d8646d
	sha256sums = 6b83bea7f4b01fcd0606d6b5846650955784c449a6848c498762e1c8d9b7c348
	sha256sums = e1d94e868e7abcf26d506d921787add698e65ca7d90491d8d4fd7f1af6770bf1

pkgname = cardano-db-sync-bin
